*,
*::before,
*::after {
    box-sizing: border-box;
}

/* custom properties*/
:root {
    --ff-primary:'Montserrat Alternates', sans-serif;
    --ff-secondary: 'Maven Pro', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;
    --clr-dark: #303030;
    --clr-accent: #F8785D;
    --clr-light: #eec79b;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --boxshadow: 0.25em 0.25em 0.75em #000;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;

    }
}

/*general styles*/

body{
    background-color: var(--clr-dark);
    color:var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;

}

strong {
    font-weight: var(--fw-bold);
}

/* can't get it to sit right

.button {
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}
*/

section {
    padding: 5em;
}

/* Typography*/

h1, h2, h3{
    line-height: 1.5;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1); 
}
h2 {
    font-size: var(--fs-h2); 
}
h3 {
    font-size: var(--fs-h3);
 }

 .introTitle{
     position: relative;
     display: flex;
     flex-wrap: wrap;
    margin-bottom: 1em ;
 }

 .introSubtitle {
     margin: 0;
     font-size: var(--fs-h3);
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    color: var(--clr-dark);
    margin-bottom: 1em;
    text-align: center;
 }

 .aboutMeTitle,
 .myWorkTitle {
     background-color: var(--clr-accent) ;
     font-family: var(--ff-secondary);
     color: var(--clr-dark);
 }

 /* Intro*/

 .into {
     position: relative;
 }

 @media (min-width: 600px) {
     .intro{
         display: grid;
         width: min-content;
         margin: 0;
         grid-column-gap: 1em;
         grid-template-areas:
         "img title"
         "img subtitle";
         grid-template-columns: min-content max-content;
     }

    .introImg {
        grid-area: img;
        min-width: 250px;
        box-shadow: var(--boxshadow);
    }
 }

 /* services*/

 .myServices {
    background-color: #6f3d59;
    background-image: url(./Assets/pJ1.png);
    background-blend-mode: multiply;
     color: var(--clr-light);
     text-align: center;
 }

 .servicesTitle {
     color: var(--clr-accent);
     position: relative;
 }
 .servicesTitle::after {
    content: '';
    display: block ;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
 }

 .services {
     max-width: 500px;
     margin: 0 auto;

 }

 @media (min-width: 800px) {
     .services {
         display: flex;
         flex-direction: row;
         max-width: 1000px;
         margin: 0 auto;
        /* border: 2px wheat;*/
     }
 }

 .services + .services {
     margin-left: 2em;
 }